/* line 1 */
.module-hello-container {
  border-radius: 10px;
  padding: 10px 0;
  background-color: #ccc;
  width: 980px;
  margin: 10px auto;
}
/* line 8 */
.module-hello-container h1 {
  padding: 10px;
  background-color: #eee;
  margin: 0 1px;
}
