.module-hello-container { 
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px 10px 10px;
	background-color: #fff;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 5px #ccc;

	h1, h2, h3, h4, h5, h6 {
		color: #333;
		text-align: center;
		font-family: Georgia, serif;
	}

	h3 {
		margin-bottom: 0;
		border-top: 1px solid #eee;
		padding-top: 20px;
	}

	h4 {
		margin-top: 0;

		a {
			color: #e44;

			&:visited {
				color: #777;
			}
		}

	}
}