<div class="module-hello-container">
    {{#with greeting}}
	<h1 class="name">{{name}}</h1>
    <h4 class="email">author: {{email}}</h4>
    <h4 class="homepage"><a href="{{homepage}}">{{homepage}}</a></h4>
    {{/with}}
</div>
